BGL.Web/Service References/GitService/GitService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54307/GitService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Request" />
  <xs:import schemaLocation="http://localhost:54307/GitService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Result" />
  <xs:element name="LoadGitUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Request" minOccurs="0" name="request" nillable="true" type="q1:GetUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadGitUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Result" minOccurs="0" name="LoadGitUserResult" nillable="true" type="q2:GetUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Request" minOccurs="0" name="request" nillable="true" type="q3:GetRepositoriesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Result" minOccurs="0" name="GetRepositoriesResult" nillable="true" type="q4:GetRepositoriesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>