BGL.Web/Service References/GitService/GitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GitService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54307/GitService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54307/GitService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54307/GitService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Request" />
      <xsd:import schemaLocation="http://localhost:54307/GitService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Result" />
      <xsd:import schemaLocation="http://localhost:54307/GitService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Backbone.Services.Results" />
      <xsd:import schemaLocation="http://localhost:54307/GitService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:54307/GitService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGitService_LoadGitUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadGitUser" />
  </wsdl:message>
  <wsdl:message name="IGitService_LoadGitUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadGitUserResponse" />
  </wsdl:message>
  <wsdl:message name="IGitService_GetRepositories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositories" />
  </wsdl:message>
  <wsdl:message name="IGitService_GetRepositories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IGitService">
    <wsdl:operation name="LoadGitUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGitService/LoadGitUser" message="tns:IGitService_LoadGitUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGitService/LoadGitUserResponse" message="tns:IGitService_LoadGitUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositories">
      <wsdl:input wsaw:Action="http://tempuri.org/IGitService/GetRepositories" message="tns:IGitService_GetRepositories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGitService/GetRepositoriesResponse" message="tns:IGitService_GetRepositories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGitService" type="tns:IGitService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadGitUser">
      <soap:operation soapAction="http://tempuri.org/IGitService/LoadGitUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepositories">
      <soap:operation soapAction="http://tempuri.org/IGitService/GetRepositories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GitService">
    <wsdl:port name="BasicHttpBinding_IGitService" binding="tns:BasicHttpBinding_IGitService">
      <soap:address location="http://localhost:54307/GitService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>