BGL.Web/Service References/GitService/GitService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Result" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Result" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54307/GitService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Dto" />
  <xs:import schemaLocation="http://localhost:54307/GitService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Airborne.Services.ClientAdapter.Results" />
  <xs:complexType name="GetGitUserResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Airborne.Services.ClientAdapter.Results" base="q1:GenericServiceResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Dto" minOccurs="0" name="User" nillable="true" type="q2:GitUserDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetGitUserResult" nillable="true" type="tns:GetGitUserResult" />
  <xs:complexType name="GetGitRepositoriesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Airborne.Services.ClientAdapter.Results" base="q3:GenericServiceResult">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Dto" minOccurs="0" name="Repositories" nillable="true" type="q4:ArrayOfGitRepositoryDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetGitRepositoriesResult" nillable="true" type="tns:GetGitRepositoriesResult" />
</xs:schema>