BGL.Web/Service References/GitService/GitService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GitUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GitUserDto" nillable="true" type="tns:GitUserDto" />
  <xs:complexType name="ArrayOfGitRepositoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GitRepositoryDto" nillable="true" type="tns:GitRepositoryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGitRepositoryDto" nillable="true" type="tns:ArrayOfGitRepositoryDto" />
  <xs:complexType name="GitRepositoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StargazersCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GitRepositoryDto" nillable="true" type="tns:GitRepositoryDto" />
</xs:schema>