BGL.Web/Service References/GitService/GitService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BGL.Services.Api.Models.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetGitUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGitUserRequest" nillable="true" type="tns:GetGitUserRequest" />
  <xs:complexType name="GetGitRepositoriesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGitRepositoriesRequest" nillable="true" type="tns:GetGitRepositoriesRequest" />
</xs:schema>