BGL.Web/Service References/GitService/GitService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Airborne.Notifications" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Airborne.Notifications" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NotificationCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Payload" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="messages" nillable="true" type="tns:ArrayOfNotification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationCollection" nillable="true" type="tns:NotificationCollection" />
  <xs:complexType name="ArrayOfNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="tns:Notification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotification" nillable="true" type="tns:ArrayOfNotification" />
  <xs:complexType name="Notification">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Severity" type="tns:NotificationSeverity" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
  <xs:simpleType name="NotificationSeverity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Information" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NotificationSeverity" nillable="true" type="tns:NotificationSeverity" />
</xs:schema>